
/************
쇼핑 대 카테고리
************/

.sub-container .eval .board .board_wrap .ctg_big {
    text-align: left;
    width: 100%;
}

.sub-container .eval .board .board_wrap .ctg_big .box_menu a {
    width: 100%;
    height: auto;
}

.sub-container .eval .board .board_wrap .ctg_big .box_menu {
    width: 20%;
    max-width: 230px;
    max-height: 230px;
    margin-right: 7px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
}

.sub-container .eval .board .board_wrap .ctg_big .box_menu img {
    width: 100%;
    border: solid 8px #ddd;
}

.sub-container .eval .board .board_wrap .ctg_big .box_menu img:hover {
    border: 8px solid #3ec4ba;
}

.sub-container .eval .board .board_wrap .ctg_big .box_menu:nth-child(5) {
    margin-right: 0;
}

.sub-container .eval .board .board_wrap .ctg_big .box_menu span {
    font-size: 24px;
    font-weight: bold;
    top: 15px;
}

/* 데이터 없음 */

.sub-container .eval .board .board_wrap .btn_area {
    text-align: center;
}

.sub-container .eval .board .board_wrap .btn_area a {
    width: 100%;
}

/************
상품 리스트
 ************/

/* 스크롤메뉴 */
.eval .board .board_wrap .scrollmenu {
    background-color: #fff;
    overflow: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    /* height: 129px; */
}

.eval .board .board_wrap .scrollmenu::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

.eval .board .board_wrap .scrollmenu .swiper-wrapper .bct_active{
    border: solid 4px #3ec4ba;
    color: #3ec4ba;
}


.eval .board .board_wrap .scrollmenu .swiper-wrapper {
    display: inline-flex;
}


.eval .board .board_wrap .scrollmenu .swiper-wrapper li {
    /* display: inline-block; */
    color: #707070;
    text-align: center;
    padding: 14px;
    /* width: 180px; */
    text-align: center;
    /* border: solid 4px #ddd; */
    border-bottom: solid 4px #ddd;
    border-left: solid 3.5px #ddd;
    border-right: solid 3.5px #ddd;
    border-top: solid 4px #ddd;
    padding-top: 45px;
    padding-bottom: 43px;
    font-size: 24px;
    font-weight: bold;
}




/* .eval .board .board_wrap .scrollmenu .swiper-wrapper.submenu_h a:last-child {
    border-right: solid 4px #ddd;
} */

/* .eval .board .board_wrap .scrollmenu .swiper-wrapper li:hover {
    border: solid 4px #3ec4ba;
    color: #3ec4ba;
} */

/* @media (hover: hover) {
	.eval .board .board_wrap .scrollmenu .swiper-wrapper li:hover {
            border: solid 4px #3ec4ba;
            color: #3ec4ba;
        }
} */



.eval .board .board_wrap .scrollmenu .swiper {
    width: 100%;
}

.eval .board .board_wrap .scrollmenu .swiper-button-next {
    float: right;
    bottom: 86px;
    margin-left: 10px;
}

.eval .board .board_wrap .scrollmenu .swiper-button-next {
    width: 45px;
    height: 44px;
    background: url("../recources/imgs/icon-s-48-page-right@2x.png") no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 150px;
    opacity: 0.5;
}

.eval .board .board_wrap .scrollmenu .swiper-button-prev {
    float: left;
    bottom: 86px;
    /* margin-left: 10px; */
}

.eval .board .board_wrap .scrollmenu .swiper-button-prev {
    width: 45px;
    height: 44px;
    background: url("../recources/imgs/img-page-arwleft-w@2x.png") no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 150px;
    opacity: 0.5;
}


.eval .board .board_wrap .scrollmenu .swiper-button-next::after,
.eval .board .board_wrap .scrollmenu .swiper-button-prev::after {
    display: none;
}

.eval .board .board_wrap .scrollmenu.sub_sol {
    border-bottom: solid 2px #000;
    width: 100%;
    height: 60px;
    margin-top: 20px;
}

.eval .board .board_wrap .scrollmenu .swiper-wrapper.submenu_innr li {
    display: inline-block;
    color: #000;
    border: none;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0 0;
    width: 100%;
}

.eval .board .board_wrap .scrollmenu .swiper-wrapper.submenu_innr .swiper-slide .active {
    background-color: #000;
    border-radius: 160px;
    padding: 7px 12px;
    height: 50px;
    margin: 0 auto;
    color: #fff;
}

.eval .board .board_wrap .submenu_sol .swiper-button-next01 {
    float: right;
    bottom: 47px;
}

.eval .board .board_wrap .submenu_sol .swiper-button-next01 {
    width: 45px;
    height: 44px;
    /* border: 4px solid #000; */
    background: url("../recources/imgs/invalid-name@3x.png") no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 150px;
    opacity: 1;
    z-index: 1;
}

.eval .board .board_wrap .submenu_sol .swiper-button-prev01 {
    float: left;
    bottom: 47px;
}

.eval .board .board_wrap .submenu_sol .swiper-button-prev01 {
    width: 45px;
    height: 44px;
    /* border: 4px solid #000; */
    background: url("../recources/imgs/invalid-name@3x.png") no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 150px;
    opacity: 1;
    z-index: 1;
    transform: scaleX(-1);
}

.eval .board .board_wrap .submenu_sol .swiper-button-next01::after,
.eval .board .board_wrap .submenu_sol .swiper-button-prev01::after {
    display: none;
}

.eval .board .board_wrap .filter_bg {
    background: #f8f8f8;
    border: solid 4px #ddd;
    position: relative;
    margin-top: 40px;
}

.eval .board .board_wrap .filter_innner {}
.eval .board .board_wrap .filter_innner li {
    display: inline-block;
    margin: 20px;
    color: #aeaeae;
    margin-left: 30px;
    font-size: 20px;
}

.eval .board .board_wrap .filter_innner li span {
    bottom: 2px;
    right: 10px;
}

.eval .board .board_wrap .filter_innner .fil_on {
    color: #000;
    font-weight: bold;
}

.eval .board .board_wrap .goods_list {
    width: 100.5%;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
}

.eval .board .board_wrap .goods {
    width: 24.7%;
    height: auto;
    text-align: left;
    background-color: #fff;
    display: inline-block;
    margin-bottom: 40px;
    padding: 4px;
}

.eval .board .board_wrap .goods .goods_img img {
    width: 100%;
    height: auto;
}

.eval .board .board_wrap .goods h3 {
    margin: 14px 0 10px;
    font-size: 18px;
}

.eval .board .board_wrap .goods .sale-price {
    font-weight: 400;
    text-decoration: line-through;
    font-size: 17px;
    margin-top: 3px;
    margin-left: 4px;
}

.eval .board .board_wrap .goods .goods_title {
    position: relative;
    margin: 0 16px;
    word-break: break-all;
}

.eval .board .board_wrap .goods .goods_title h3{
    white-space: normal;
    line-height: 1.2;
    height: 2.5em;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.eval .board .board_wrap .goods .goods_title a {
   width: 100%;
}


.eval .board .board_wrap .goods .goods_title p {
    display: inline-block;
}

.eval .board .board_wrap .goods .goods_left {
    float: left;
    /* margin: 0 20px 0 0; */
    width: 82%;
    height: 27px;
}

.eval .board .board_wrap .goods .goods_left .price {
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
}
.eval .board .board_wrap .goods .goods_right {
    font-size: 22px;
    font-weight: 600;
    /* margin-left: 25px; */
    height: 20px;
}

.eval .board .board_wrap .goods .goods_bottom  {
    height: 20px;
}

.eval .board .board_wrap .goods .goods_bottom p {
    float: left;
    font-size: 15px;
    font-weight: 400;
}

.eval .board .board_wrap .goods .goods_bottom .left p {
    margin: 5px 0;
}

.eval .board .board_wrap .goods .goods_bottom .left a{
    width: 30%;
}


.eval .board .board_wrap .goods .goods_bottom .right {
    float: right;
    width: 88px;
    display: -webkit-inline-box;
}

.eval .board .board_wrap .goods .goods_bottom .right p {
    margin: 5px 6px;
    font-size: 15px;
}

.eval .board .board_wrap .goods .goods_bottom .right .wishlist {
    width: 23px;
    margin-top: 4px;
    background: url("../recources/icons/sns-heart@3x.png") no-repeat;
    background-size: 23px auto;
    background-position: center;
    display: block;
}

.eval .board .board_wrap .goods .goods_bottom .right .wishlist_on {
    width: 23px;
    margin-top: 4px;
    background: url("../recources/icons/icon-heart-m@3x.png") no-repeat;
    background-size: 22px auto;
    background-position: center;
    display: block;
}


/************
상품 페이지
 ************/

 .eval .board .board_wrap .shop_goods {
     display: inline-flex;
     font-family: "Spoqa Han Sans Neo", "sans-serif";
 }

 .eval .board .board_wrap .shop_goods .shop_goods_dt_l {
     width: 100%;
     max-width: 600px;
 }

 .eval .board .board_wrap .shop_goods .shop_goods_dt_l .dt_som {

 }


 .eval .board .board_wrap .shop_goods .shop_goods_dt_l .dt_som .som {
    width: 100%;
    max-width: 600px;
    max-height: 517px;
 }

 .eval .board .board_wrap .shop_goods .shop_goods_dt_l .dt_som .som .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_l .dt_som .som .swiper-pagination-bullet-active {
    width: 20px;
    height: 9px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_l .dt_som .som .swiper-pagination-bullet::after {
    display: none;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_l .dt_sub_som {
    width: 100%;
    margin-top: 20px;
 }

 .eval .board .board_wrap .shop_goods .shop_goods_dt_l .som_b {
   flex-wrap: nowrap;
   /* width: 600px; */
   overflow: unset;
 }
 .eval .board .board_wrap .shop_goods .shop_goods_dt_l .som_b .swiper-wrapper {
    flex-wrap: wrap;
    width: 100%;
  }

 .eval .board .board_wrap .shop_goods .shop_goods_dt_l .som_b .swiper-slide {
    /* max-width: 114px; */
    width: 20%;
  }

  .eval .board .board_wrap .shop_goods .shop_goods_dt_l .som_b .swiper-slide:nth-child(5) {
      margin-right: 0;
  }

  .eval .board .board_wrap .shop_goods .shop_goods_dt_l .som_b .swiper-slide:last-child {
    margin-right: 0px;
  }

 .eval .board .board_wrap .shop_goods .shop_goods_dt_l .dt_sub_som img{
    width: 100%;
    /* max-width: 114px;
    max-height: 98px; */
    /* margin: 3px 0 0 0; */
    padding: 3px;
 }


 .eval .board .board_wrap .shop_goods .shop_goods_dt_r {
     margin-left: 60px;
     /* width: 100%; */
     width: 540px;
 }

 .eval .board .board_wrap .shop_goods .shop_goods_dt_r h3 {
    padding: 20px 20px 0px 0;
    font-size: 28px;
    font-family: "SBAggroM", "sans-serif";
    word-break: break-all;
    white-space: normal;
    line-height: 1.2;
    height: 3em;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .line_14-100-r {
    width: 100%;
    padding: 7px;
    background: #000;
    margin-top: 14px;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_sub_tt {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* padding-bottom: 20px; */
    word-break: break-all;

    white-space: normal;
    line-height: 1.2;
    height: 4.2em;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr {
    margin-bottom: 30px;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr .dt_pr_tt {
    margin-bottom: 12px;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr .dt_pr_st {
    margin-bottom: 10px;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr li{
    display: inline-block;
}
.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr .dt_pr_st .discount {
    top:5px;
 }

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr .dt_pr_st .dt_not {
    background: url('../recources/icons/no.png') no-repeat right;
    width: 24px;
    height: 26px;
    bottom: 4px;
    background-size: 20px 20px;
    bottom: 4px;
    background-position-x: 31px;
    background-position-y: 6px;
 }

 .eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr .dt_pr_st .dt_not.tooltip {
    position: relative;
    display: inline-block;
  }

  .eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr .dt_pr_st .dt_not.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    height: 94px;
    background-color: #f8f8f8;
    color: #707070;
    border: solid 2px #ddd;
    text-align: left;
    padding: 20px 10px 20px 10px;
    font-size: 12px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr .dt_pr_st .dt_not.tooltip .tooltiptext .del{
    background: url('../recources/icons/del_bk@3x.png') no-repeat;
    width: 16px;
    height: 16px;
    background-size: 20px 20px;
    bottom: 16px;
    float: right;
  }
  .eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr .dt_pr_st .dt_not.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
  }

  .eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr .dt_pr_st .dt_not.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }



.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr .dt_pr_tt li:nth-child(1) {
    margin-right: 20px;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr .dt_pr_st li:nth-child(1) {
    margin-right: 10px;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr .dt_pr_tt h5 {
    font-size: 24px;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr .dt_pr_tt span{
    font-size: 24px;
    color: #f06b27;
    font-weight: bold;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr .dt_pr_st li:nth-child(1) {
    color: #aeaeae;
    font-size: 16px;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr .dt_pr_st li:nth-child(2) {
    color: #000;
    font-size: 16px;
    width: calc(100% - 142px);
    margin-left: 30px;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr .dt_pr_st.pr_add li:nth-child(2){
    margin-left: -1px;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr .dt_pr_st.pr_add p{
    font-size: 12px;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_sel {
    margin-bottom: 10px;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_sel .sel_op{
    padding-bottom: 10px;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_sel select {
    width: 100%;
    padding: 10px 10px;
    border: solid 2px #ddd;
    margin-bottom: 10px;
    background: url("../recources/icons/arrow-option.png") no-repeat 98%;
    appearance: none;
    color: #000;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr_op {
    background-color: #f8f8f8;
    padding: 18px;
    margin-bottom: 20px;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr_op li{
    display: inline-block;
    font-size: 16px;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr_op .dt_pr_op_tt li:nth-child(2){
    float: right;
}
.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr_op .dt_pr_op_tt li:nth-child(2) button{
    border: none;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr_op .dt_pr_op_tt .dt_del {
    background: url("../recources/icons/del_bk@3x.png") no-repeat center;
    width: 32px;
    height: 32px;
    background-size: 30px 30px;
    background-position-y: -6px;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr_op .dt_pr_op_tt .dt_del span{
    display: none;
    font-size: 20px;
}


.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr_op .dt_pr_op_nm.m-0{
    margin-top: 0;
  }


.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr_op .dt_pr_op_nm {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}



.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr_op .dt_pr_op_nm li:first-child {
    display: flex;

}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr_op .dt_pr_op_nm li:first-child button{
    font-size: 20px;
    color: #707070;
}


.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr_op .dt_pr_op_nm li:last-child {
    font-size: 20px;
    font-weight: bold;
}
.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr_op .dt_pr_op_nm li button{
    border:solid 2px #ddd;
    background-color: white;
    width: 30px;
    height: 30px;
    padding: 0;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_pr_op .dt_pr_op_nm li input{
    border:solid 2px #ddd;
    background-color: white;
    width: 60px;
    height: 30px;
    /* padding: 0 10px; */
    border-right: none;
    border-left: none;
    text-align: center;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_tta {
    width: 100%;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_tta .dt_total {
    display: flex;
    justify-content: space-between;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_tta .dt_total li:first-child{
    font-size: 15px;
    font-weight: bold;
 }


.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_tta .dt_total li:last-child{
   font-size: 28px;
   font-weight: bold;
}


.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_tta .dt_dev li {
    display: inline-block;
}

.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_tta .dt_dev li:nth-child(1){
    font-size: 14px;
 }

 .eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_tta .dt_dev li:nth-child(2){
    font-size: 14px;
    text-align: right;
    float: right;
 }


 .eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_tta .dt_dev li span {
    font-size: 16px;
    font-weight: bold;
}

 .eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_tta .dt_dev li p {
     font-size: 12px;
 }


.eval .board .board_wrap .shop_goods .shop_goods_dt_r .dt_btn_4ea {
    display: inline-flex;
    width: 100%;
    margin-top: 20px;
}

.btn_200_sol {
    width: 40%;
    height: 60px;
    background-color: #fff;
    border: solid 4px #3ec4ba;
    color: #3ec4ba;
    font-size: 16px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
}

.btn_200_bg {
    width: 40%;
    height: 60px;
    background-color: #3ec4ba;
    color: #fff;
    font-size: 16px;
    border: none;
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
}

.btn_200_bg_g {
    width: 40%;
    height: 60px;
    background-color: #ddd;
    color: #fff;
    font-size: 16px;
    border: none;
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
}

.sns {
    width: 14%;
    height: 60px;
    background-color: #fff;
    border: solid 2px #ddd;
    color: #aeaeae;
    font-size: 10px;
    font-weight: bold;
    padding-top: 30px;
}

.sns_wish {
    background: url('../recources/icons/sns-heart@3x.png') no-repeat center;
    background-size: 24px 24px;
    background-position-y: 6px;
}

.sns_share {
    background: url('../recources/icons/sns_share@3x.png') no-repeat center;
    background-size: 24px 24px;
    background-position-y: 7px;
    border-left: none;
}

.wishlist_on {
    background: url("../recources/icons/icon-heart-m@3x.png") no-repeat center;
    background-size: 24px auto;
    background-position-y: 6px;
    color: #3ec4ba;
}


.eval .board .board_wrap .shop_goods_ct {
    word-break: break-all;
}


.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b {
    width: 100%;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b ul {
    position:sticky;
    /* position:-webkit-sticky; */
    top: 220px;
    z-index: 1;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_sec_mn {
    display: flex;
    width: 100%;
    font-size: 24px;
    margin-top: 64px;
    border-bottom: solid 4px #3ec4ba;
    pointer-events: auto;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_sec_mn li{
    border: solid 2px #f1f1f1;
    padding: 20px;
    width: 30%;
    text-align: center;
    font-size: 20px;
    background: #fff;
    /* border-bottom: none; */
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_sec_mn .dt_on{
    background: #3ec4ba;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    border: none;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_sec_mn li:nth-child(1) {
    border-right: none;
}
.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_sec_mn li:nth-child(2) {
    border-right: none;
}
.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_sec_mn li:nth-child(3) {
    border-right: none;
}




.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot {
    height: auto;
    position: relative;
}


.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .dt_hide {
    width: 100%;
    position: absolute;
    top: -350px;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 {
    padding-top: 50px;
    font-size: 16px;
    width: 100%;
}
.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 img{
    width: 100%;
}
.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .set_tt {
    font-size: 20px;
    font-weight: bold;
    background: #e6faf9;
    padding: 10px 0 10px 0;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_no{
    padding: 39px 0px 39px 0px;
    border: solid 2px #ddd;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_no img {
    width: 4%;
}


.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_1 {
    padding: 0px 60px 0px 60px;
    border: solid 2px #ddd;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    /* text-align: center; */
}


.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_1 .dt_star {
    display: inline-block;
    text-align: left;
    font-size: 20px;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_1 .sol {
    border-right: solid 2px #ddd;
    width: 0;
    height: 150px;
    display: inline-block;
    margin-top: 50px;
    margin-left: 50px;
}


.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_1 .sol.block {
   display: inline-block;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_1 .sol.none {
    display: none;
 }



.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_1 .inline span{
    top: 6px;
    font-size: 20px;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_1 .cot_rating_01 {
    padding: 32px;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_1 .cot_rating_02 {
    padding: 60px 0 60px 0;
    margin-left: 130px;
    text-align: center;
    font-weight: bold;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_1 .cot_rating_02 .score{
    font-size: 28px;
    font-weight: bold;
    color: #fc6a20;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_1 .stars-outer {
    font-size: 1.5rem;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_1 .cot_rating_02 .stars-outer {
    font-size: 2.5rem;
    margin-top: 37px;
}



.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list .cot_review .cot_id {
    font-weight: bold;
    font-size: 18px;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_review .cot_day {
    font-size: 15px;
    color: #707070;
    top: 3px;
}

/* 출력별 */

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list .cot_body .cot_review .stars-outer {
    display: inline-block;
    position: relative;
    font-size: 24px;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list {
    padding: 20px 40px;
    border: solid 2px #ddd;
    margin-top: 20px;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list .cot_body {

}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list.my_list img {
    max-width: 360px;
    max-height: 180px;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list .cot_body .info {
    display: inline-block;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list .cot_body .cot_review .cot_id_day {
    display: flex;
    justify-content: space-between;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list .cot_body .cot_review .cot_box {
    background: #f8f8f8;
    height: auto;
    padding: 0 15px 25px;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list .cot_body .cot_review .cot_box .cot_rating_01 {
    top: 10px;
    display: flex;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list .cot_body .cot_review .cot_box .cot_rating_01 .inline {
    display: flex;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list .cot_body .cot_review .cot_box .cot_rating_01 .stars-outer {
    margin-left: 20px;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list .cot_body .cot_review .cot_box .cot_rating_01 .number {
    margin-top: 11px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list .cot_body .cot_review .cot_box .cot_rating_01 span {
    top: 10px;
    font-weight: bold;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list .cot_body .cot_review .cot_box .cot_rating_02 {
    display: flex;
    font-size: 13px;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list .cot_body .cot_review .cot_box .cot_rating_02 span {
    display: flex;
    padding-right: 50px;
    padding-top: 25px;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list .cot_body .cot_review .cot_box .cot_rating_02 span .text {
    margin-top: 5px;
    margin-right: 10px;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list .cot_body .cot_review .cot_box .cot_rating_02 span .bold {
    font-size: 18px;
    font-weight: bold;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list .cot_body .cot_review_text {
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list .cot_body .cot_review_text .text_content.short {
    height:auto;
    display: block;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list .cot_body .cot_review_text .text_content.notshort {
    height: 43.5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list .cot_body .cot_review_text br {
    display: none;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list .cot_body .cot_more {
    width: 100%;
    max-width: 68px;
    font-size: 15px;
    color: #3ec4ba;
    background: url("../recources/icons/rectangle_bt.png") no-repeat right;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list .cot_body .cot_photo img {
    width: 100%;
    max-width: 114px;
    height: 95px;
    margin-top: 20px;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list .cot_body .btn-sd {
    float: right;
    max-width: 104px;
    margin-top: 38px;
    font-size: 16px;
    background: url("../recources/icons/arrow-option-01.png") no-repeat right;
    padding-bottom: 2px;
    padding-left: 2px;
    font-weight: bold;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .cot_list .cot_body .info {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.63px;
    padding: 30px;
    width: calc(95% - 350px);
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 74px;

}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_con_2 .btn-full-sd {
    height: 75px;
    font-weight: bold;
    font-size: 20px;
    border: solid 2px #ddd;
    color: black;
    margin-top: 20px;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_img img{
    width: 100%;
    padding-bottom: 20px;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_s_con_tt {
    padding: 20px 0 20px 0;
    font-size: 16px;
}

.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .dt_s_con_tt img{
    width: 100%;
}


.eval .board .board_wrap .shop_goods_ct .shop_goods_dt_b .dt_cot .set1 .btn-full-sd {
    height: 75px;
}


/**** 장바구니 ****/

.eval .board .board_wrap .cart_list {
    width: 100%;
    /* padding: 30px; */
}

.eval .board .board_wrap .cart_list .chek {
    display: flex;
    justify-content: space-between;
    padding: 23px 40px 23px 40px;
    font-weight: bold;
}


.eval .board .board_wrap .cart_list .chek input[type="checkbox"]{
    border: solid 1px #000;
    margin-right: 6px;
}

.eval .board .board_wrap .cart_list .all {
    top: 3px;
}
/* .eval .board .board_wrap .cart_list .chek span {
    top: 3px;
    } */


.eval .board .board_wrap .cart_list .chek button{
    width: 100%;
    max-width: 87px;
    height: 30px;
    border: solid 2px #000;
    font-size: 16px;
    font-weight: bold;
    font-family: "Spoqa Han Sans Neo", "sans-serif";
}
.eval .board .board_wrap .cart_list .cart_tt {
    width: 100%;
}

.eval .board .board_wrap .cart_list .cart_tt ul{
    width: 100%;
    display: inline-flex;
    text-align: center;
}

.eval .board .board_wrap .cart_list .cart_tt li{
    width: 100%;
    border: solid 2px #ddd;
    padding: 20px;
    background: #f8f8f8;
    font-weight: bold;
}

.eval .board .board_wrap .cart_list .cart_tt li:nth-child(1){
    width: 60%;
    border-right: none;
}
.eval .board .board_wrap .cart_list .cart_tt li:nth-child(2){
    width: 20%;
    border-right: none;
}
.eval .board .board_wrap .cart_list .cart_tt li:nth-child(3){
    width: 20%;
}


.eval .board .board_wrap .cart_list .cot_list {
    padding: 32px 0px 32px 32px;
    border-bottom: solid 2px #ddd;
}

.eval .board .board_wrap .cart_list .cot_list .cot_body {
    display: flex;
}


.eval .board .board_wrap .cart_list .cot_list .cot_body .cart{
    display: flex;
    width: 100%
}



.eval .board .board_wrap .cart_list .cot_list .cot_body .cart_inner {
    display: flex;
    width: 80%
}

.eval .board .board_wrap .cart_list .cot_list .cot_body .cart_inner_01 {
    display: flex;
    width: 55%
}



.eval .board .board_wrap .cart_list .cot_list .cot_body .cart_list_img {

}

.eval .board .board_wrap .cart_list .cot_list .cot_body .cart_list_img li{
    display: inline-block;
}

.eval .board .board_wrap .cart_list .cot_list .cot_body .cart_list_img li:nth-child(1) {
    line-height: 138px;
    margin-right: 20px;
}

.eval .board .board_wrap .cart_list .cot_list .cot_body .cart_list_img img{
    width:100%;
    height: 100%;
    max-width: 160px;
    max-height: 140px;
}

.eval .board .board_wrap .cart_list .cot_list .cot_body .cart_list_tt {
    width: calc(100% - 40%);
    padding: 29px 0px 25px 25px;
}

.eval .board .board_wrap .cart_list .cot_list .cot_body .cart_list_tt h5{
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1.2em;
    height: 2.4em;
}

.eval .board .board_wrap .cart_list .cot_list .cot_body .cart_list_tt h5 a {
    display: block;
}

.eval .board .board_wrap .cart_list .cot_list .cot_body .cart_list_tt li{
    display: inline-block;
}

.eval .board .board_wrap .cart_list .cot_list .cot_body .cart_list_tt .c_s_tt{
    padding-top: 30px;
}

.eval .board .board_wrap .cart_list .cot_list .cot_body .cart_list_tt .c_s_tt .price{
    font-size: 16px;
}

.eval .board .board_wrap .cart_list .cot_list .cot_body .cart_list_tt .c_s_tt .sale-price{
    font-size: 12px;
}


.eval .board .board_wrap .cart_list .cot_list .btn-sd{
    width: 100%;
    max-width: 83px;
    height: 30px;
    border: solid 2px #3ec4ba;
    color: #3ec4ba;
    font-weight: bold;
    font-size: 16px;
    margin: 5px 0 10px 0;
    font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.eval .board .board_wrap .cart_list .cot_list .cot_body .cart_list_op {
    text-align: center;
    padding: 29px 23px;
    width: 100%;
}

.eval .board .board_wrap .cart_list .cot_list .cot_body .cart_list_op li:nth-child(1){
   padding: 10px;
}

.eval .board .board_wrap .cart_list .cot_list .cot_body .cart_list_op li:nth-child(2){
    display: flex;
    justify-content: center;
}

.eval .board .board_wrap .cart_list .cot_list .cot_body .cart_list_op li:nth-child(2) input {
    border: 2px solid #ddd;
    height: 30px;
    border-left: none;
    border-right: none;
    width: 60px;
    text-align: center;
}


.eval .board .board_wrap .cart_list .cot_list .cot_body .cart_list_op li:last-child {
    font-size: 15px;
}
.eval .board .board_wrap .cart_list .cot_list .cot_body .cart_list_op li button{
    border:solid 2px #ddd;
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
}

.eval .board .board_wrap .cart_list .cot_list .cot_body .cart_list_op li p{
    border:solid 2px #ddd;
    background-color: white;
    width: 60px;
    height: 30px;
    border-right: none;
    border-left: none;
    text-align: center;
}


.eval .board .board_wrap .cart_list .cot_list .cot_body .cart_list_pr {
    width: 100%;
    padding: 20px;
}

.eval .board .board_wrap .cart_list .cot_list .cot_body .cart_list_pr li{
    text-align: center;
}

.eval .board .board_wrap .cart_list .cot_list .cot_body .cart_list_pr.block .bold {
    font-size: 22px;
    font-weight: bold;
}

.eval .board .board_wrap .cart_list .cot_list .cot_body .cart_list_pr.block .del {
    color: #707070;
    text-align: center;
    text-decoration: underline;
}


.eval .board .board_wrap .cart_list .ct_tot {
    background: #f8f8f8;
    border: solid 2px #ddd;
    padding: 20px;
    margin: 30px;
}

.eval .board .board_wrap .cart_list .text {
    margin-left: 30px;
}

.eval .board .board_wrap .cart_list .ct_tot ul {
    position: relative;
}

.eval .board .board_wrap .cart_list .ct_tot .ct_tot_p li:nth-child(1){
    color: #000;
    font-weight: bold;
}

.eval .board .board_wrap .cart_list .ct_tot .ct_tot_p li:nth-child(2){
    color: #fc6a20;
    font-weight: bold;
}

.eval .board .board_wrap .cart_list .ct_tot ul li {
    display: inline-block;
    line-height: 30px;
}

.eval .board .board_wrap .cart_list .ct_tot ul li:nth-child(1) {
    font-size: 16px;
    color: #aeaeae;
}

.eval .board .board_wrap .cart_list .ct_tot ul li:nth-child(1) span {
    top: 7px;
    font-size: 13px;
}
.eval .board .board_wrap .cart_list .ct_tot ul li:nth-child(2) {
    float: right;
}
.eval .board .board_wrap .cart_list .ct_btn {
    width: 100%;
    display: flex;
    padding: 30px;
    justify-content: center;
}

.eval .board .board_wrap .cart_list .ct_btn button{
    width: 30%;
}




/****
    검색페이지
 ****/

.sub-container .serch_data {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 32px;
    padding: 70px;
}

.eval .board.mypage_list .board_wrap .tab_menu .cont_area #tab3 {
    display: none;
}

.eval .board.mypage_list .board_wrap .tab_menu .cont_area #tab4 {
    display: none;
}

 .eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont.pd-00 {
     padding: 0;
 }

/* .eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont li {
    padding: 12px 0 10px 20px;
    display: flex;
    flex-direction: column;
} */

 .eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont .filter_innner li{
    display: inline-block;
    margin: 6px;
 }

 .eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont .f_tt_more {
     border-bottom: solid 2px #000;
     padding-bottom: 20px;
 }

 .eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont .f_tt_more li{
     display: inline-block;
     padding: 20px 0 0 0 ;
 }

 .eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont .f_tt_more li:nth-child(2){
   float: right;
   color: #707070;
}

